/* This is an example of using Sass, otherwise plain CSS works too*/
@import 'style';

* {
  box-sizing: border-box;
  font-family: 'Anton', sans-serif;
}

body {
  @include standard-flex(column);
  background-image: url('../images/teo-leguay-vqaLqlWPb2c-unsplash.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}

#main {
  @include standard-flex(column);
  align-items: center;
  align-self: center;
  justify-content: center;
}

.header {
  @include standard-flex(row);
  // align-content: center;
  justify-content: space-between;
  // justify-content: center;
}

.greeting {
  align-self: flex-start;
  color: white;
  text-shadow: -5px 4px black;
}

#login {
  font-size: 1.75em;

}

.login-container {
  @include standard-flex(column);
  align-items: center;
  align-self: center;
  justify-content: center;
  padding: 50px 100px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  width: 25em;
  input {
    margin-bottom: 30px;
    padding: 2px 0px;
    padding-bottom: 5px;
    width: 250px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1.5px solid;
    border-bottom-color: white;
  }
}

.manager-container, .customer-container {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  justify-content: space-between;
  width: 100%;
}

.manager-dashboard, .customer-dashboard {
  flex-direction: row;
  // justify-content: flex-end;
  width: 45%;
  margin: 10px;
  padding: 10px;
  font-size: 1.30em;
}

.manager-interactions, .customer-interactions {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  // flex-direction: row;
  width: 45%;
  margin: 20px;
  padding: 10px;
  font-size: 1.30em;
}

#username, #password {
  font-size: large;
  background-color: rgba(255, 255, 255, 0.7);
}

::placeholder {
  color: black;
  text-align: center;
  letter-spacing: 2px;
}

button {
  padding: 20px 30px;
  margin-top: 30px;
  margin-left: 70px;
  outline: none;
  border: none;
  font-size: medium;
  font-weight: 600;
  letter-spacing: 5px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: -5px 4px black;
  

  &:active {
    transform: translateY(2px);
    color: rgb(0, 115, 255);
  }
}

.hidden {
  display: none;
}

#logoutButton {
  align-items: center;
  align-self: flex-end;
  justify-content: center;
  margin-left: 0px;
  margin-top: 0px;
  // padding: 10px 15px;
}

#customer-list, .welcome-manager, .welcome-customer {
  margin: 5px;
  padding: 5px;
}

.add-a-booking, .remove-a-booking, .customer-add-a-booking {
  margin-left: 0px;
  margin-top: 0px;
  padding: 10px 50px;
}